
    <% for (let i = 0; i < folders.length; i++) { %>
        <div class="folder">
        <img src='/images/001-folder.svg' alt="Folder icon">
    <a href="/<%= folders[i].id %>">
        <%= folders[i].folderName %></a> 
        </div>
    <% } %>
