
    <% for (let i = 0; i < folders.length; i++) { %>
        <div class="folder">
            <p class="delete"><a href="/deleteFolder/<%= folders[i].id %>"><i class="fa-solid fa-trash"></i>delete</a></p>
        
    <a href="/folder/<%= folders[i].id %>">
        <img src='/images/001-folder.svg' alt="Folder icon">
        <%= folders[i].folderName %></a> 
        </div>
    <% } %>
