
    <% for (let i = 0; i < folders.length; i++) { %>
        <div class="folder">
        <img src="/public/images/001-folders.svg" alt="Folder icon">
    <a href="/profile/<%= folders[i].id %>">
        <%= folders[i].folderName %></a> 
        </div>
    <% } %>
