<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>folder</title>
</head>
<body>
      <h1>Upload Dashboard</h1>
    <nav>
        <% if (locals.user) { %>

<%- include('nav', {links: links}) %>

        <% } %>
    
    </nav>
   <h2><%= folder.folderName %></h2>
   
    <% if (file) { %>
    <%- include ('file', {file}) %>
    <% } else { %> 
        <p>No file</p>
        <% } %>
    
</body>
</html>