

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Sign up</h1>
    <nav>
    <a href="/sign-up">Sign up</a>
    <a href="/login">Login</a>
</nav>
    <form action="/sign-up" method="POST">
   <label for="username">Email</label>
   <input type="email" name="username" id="">
   <label for="password">Password</label>
   <input type="password" name="password" id="">
   <label for="comfirmPassport">Confirm password</label>
   <input type="password" name="comfirmPassport" id="">
   <label for="firstname">First name</label>
   <input type="text" name="firstname" id="">
   <label for="lastname">Last name</label>
   <input type="text" name="lastname" id="">
   <button type="submit">Sign up</button>
</form>
</body>
</html>